<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>firstHttpServletResponse</servlet-name>
        <servlet-class>org.lzn.FirstHttpServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secondHttpServletResponse</servlet-name>
        <servlet-class>org.lzn.SecondHttpServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thirdHttpServletResponse</servlet-name>
        <servlet-class>org.lzn.ThirdHttpServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fourthHttpServletResponse</servlet-name>
        <servlet-class>org.lzn.FourthHttpServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fifthHttpServletResponse</servlet-name>
        <servlet-class>org.lzn.FifthHttpServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sixthHttpServletResponse</servlet-name>
        <servlet-class>org.lzn.SixthHttpServletResponse</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>firstHttpServletResponse</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secondHttpServletResponse</servlet-name>
        <url-pattern>/demo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thirdHttpServletResponse</servlet-name>
        <url-pattern>/demo3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fourthHttpServletResponse</servlet-name>
        <url-pattern>/demo4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fifthHttpServletResponse</servlet-name>
        <url-pattern>/demo5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sixthHttpServletResponse</servlet-name>
        <url-pattern>/demo6</url-pattern>
    </servlet-mapping>
</web-app>